extends layout

block append head
    script(src='/javascripts/index.js')
    link(rel='stylesheet', href='/stylesheets/index.css')

block content
    img(class="logo",src="/images/logo.png",width="60%")
    #content
        #teams
            .left.dleft
                span#team1= 'Team 1'
            .right.dright
                span#team2= 'Team 2'

        .clear

        .center
            #time 00:00
            #halftime (1. Halbzeit)

        #points
            .digits
                .left.dleft
                    span(class="digit _0 team1") 0

                .right.dright
                    span(class="digit _0 team2") 0



