extends layout

block append head
    script(src='/javascripts/index.js')

block content
    #frontend
        #teams
            .left
                span#team1= 'Team 1'
            .right
                span#team2= 'Team 2'

        .clear

        #time

        #points
            .digits
                span.left
                    div(class="digit _0 dleft team1") 00

                span.right
                    div(class="digit _0 dright team2") 00



