extends layout

block content
    script(src='/javascripts/jquery-ui.js')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
    style.
        body {
            background-color: #FFF;
            color: #666;
        }
    #teams
        ul.list-group

        button(type="button",class="btn btn-primary",id="refresh")
            span.glyphicon.glyphicon-repeat

    script.

